<div style="display:flex;
            gap:34px;
            justify-content: center;">
  <div>Dificulty:Medium</div>
  <div>Number of bombs: x</div>
  <div>Timer: x sec</div>
  <button (click)="boardState.selectDifficulty(0)">Ez</button>
  <button (click)="boardState.selectDifficulty(1)">Ok</button>
  <button (click)="boardState.selectDifficulty(2)">sad face</button>
  <button (click)="boardState.selectDifficulty()">RESET</button>
  <button (click)="boardState.initMapWithBombs()">Init</button>

</div>
<div class="frame">
  <div style="background-color: grey;">
    <div *ngFor="let row of boardState.getBoardHeight();let x=index">
      <div class="cell-line">
        <mine-field *ngFor="let line of boardState.getBoardLength();let y=index" [x]="x" [y]="y"></mine-field>
      </div>
    </div>
  </div>
</div>
