
.mine-field{
  width:98px;
  height:98px;
  border: 1px solid black;
}

.unrevealed{
  background-color: #c1c0c1;
}

.empty{
  background-color: #b9b8b8;
}

.bomb{
  background-color: #fc0100 ;
}

.display-number{
  font-family: fantasy;
  margin-top: 16px;
  font-size: 54px;
  margin-left: 34px;
}

.one{
  color:#0100fd
}

.two{
  color:#008102
}

.three{
  color:#fe0101
}

.four{
  color:#010086
}

.five{
  color:#820101
}

.six{
  color:#008286
}

.seven{
  color:#820284
}

.eight{
  color:#747574
}
